<!DOCTYPE html>
<html lang="en-ca" class="scroll-smooth">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    
    <link crossorigin="crossorigin" href="https://fonts.gstatic.com" rel="preconnect" />
    <link as="style" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@400;500;600;700&display=swap" rel="preload" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.1.x/dist/index.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>

  <body class="page {{page.bodyClass}}" id="page-top" :class="{ 'overflow-hidden max-h-screen': mobileMenu }" x-data="{ mobileMenu: false }">
    <div x-data="{triggerNavItem(id) {$scroll(id)},triggerMobileNavItem(id) {$parent.mobileMenu = false; this.triggerNavItem(id)}}">
      <div class="w-full z-50 top-0 py-3 sm:py-5  absolute  ">
        <div class="container flex justify-end items-center">
          <div class="hidden lg:block">
            <ul class="flex items-center">
                <li class="group pl-6">
                    <a href="/#about" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">About</a>
                    <span class="block w-full h-0.5 bg-transparent group-hover:bg-yellow"></span>
                </li>

                <li class="group pl-6">
                    <a href="/#projects" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">Projects</a>  
                    <span class="block w-full h-0.5 bg-transparent group-hover:bg-yellow"></span>
                </li>

                <li class="group pl-6">
                    <a href="/#experience" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">Experience</a>  
                    <span class="block w-full h-0.5 bg-transparent group-hover:bg-yellow"></span>
                </li>

                <li class="group pl-6">
                    <a href="/#statistics" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">Statistics</a>  
                    <span class="block w-full h-0.5 bg-transparent group-hover:bg-yellow"></span>
                </li>
            </ul>
          </div>

          <div class="block lg:hidden">
              <button @click="$parent.mobileMenu = true"><i class='bx bx-menu text-white text-4xl'></i></button>
          </div>   

        </div>
      </div>  
    
      <div class="fixed inset-0 bg-black bg-opacity-70 z-50 min-h-screen lg:hidden transition-opacity opacity-0 pointer-events-none":class="{ 'opacity-100 pointer-events-auto': $parent.mobileMenu }">
        <div class="w-2/3 md:w-1/3 bg-primary min-h-screen absolute right-0 shadow py-4 px-8">

          <button class="absolute top-0 right-0 mt-4 mr-4" @click="$parent.mobileMenu = false">
              <img src="/assets/img/icon-close.svg" class="h-10 w-auto" alt="">
          </button>

          <ul class="flex flex-col mt-8">
              <li class="py-2">             
                  <a href="/#about" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">About</a>
              </li>

              <li class="py-2">
                  <a href="/#projects" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">Projects</a>
              </li>

              <li class="py-2">
                  <a href="/#experience" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">Experience</a>
              </li>

              <li class="py-2">
                  <a href="/#statistics" class="font-header font-semibold text-white uppercase pt-0.5 cursor-pointer">Statistics</a> 
              </li>
          </ul>

        </div>
      </div>
    </div>
    {{ content }}
    <div class="bg-primary">
      <div class="container py-6 flex flex-col sm:flex-row justify-between">
          <p class="font-body text-white text-center md:text-left">© Copyright 2022. All right reserved, Andrew Fisher.</p>
          <div class="flex items-center justify-center sm:justify-start pt-5 sm:pt-0">
              <a href="mailto:andrew@andrewfisher.ca">
                  <i class='bx bxs-envelope text-white hover:text-yellow text-2xl'></i>
              </a>
              <a href="https://www.linkedin.com/in/andrewwfisher/" class="pl-4">
                  <i class='bx bxl-linkedin text-white hover:text-yellow text-2xl'></i>
              </a>
              <a href="https://www.facebook.com/awfisher16" class="pl-4">
                  <i class='bx bxl-facebook-square text-white hover:text-yellow text-2xl'></i>
              </a>
              <a href="https://www.instagram.com/awfisher16/" class="pl-4">
                  <i class='bx bxl-instagram text-white hover:text-yellow text-2xl'></i>
              </a>
              <a href="https://twitter.com/awfisher16" class="pl-4">
                  <i class='bx bxl-twitter text-white hover:text-yellow text-2xl'></i>
              </a>
          </div>
      </div>
    </div>
  </body>
</html>
