---
layout: base
---

<div id="main">
    <div>
        <div class="bg-center bg-cover bg-no-repeat relative py-8"style="background-image: url(/assets/img/bg-hero.jpg);">

            <div
                class="bg-center bg-cover bg-no-repeat absolute inset-0 z-20 bg-gradient-to-r from-hero-gradient-from to-hero-gradient-to">
            </div>

            <div class="container z-30 relative pt-20 sm:pt-56 lg:pt-64 pb-12 sm:pb-48 lg:pb-48">
                <div class="flex flex-col lg:flex-row justify-center items-center">
                    <div class="rounded-full border-8 border-primary shadow-xl">
                        <img src="/assets/img/blog-author.jpg" class="h-48 sm:h-56 rounded-full" alt="author">
                    </div>

                    <div class="lg:pl-8 pt-8 sm:pt-10 lg:pt-0">
                        <h1 class="font-header text-white text-4xl sm:text-5xl md:text-6xl text-center sm:text-left">Hello I'm Andrew Fisher!</h1>

                        <div class="flex flex-col sm:flex-row justify-center lg:justify-start pt-3 sm:pt-5">

                            <div class="flex justify-center sm:justify-start items-center pl-0 md:pl-1">
                                <p class="font-body text-white text-lg uppercase">Let's connect</p>
                                <div class="hidden sm:block">
                                    <i class='bx bx-chevron-right text-yellow text-3xl'></i>
                                </div>
                            </div>

                            <div class="flex items-center justify-center sm:justify-start pt-5 sm:pt-0 pl-2">
                                <a href="mailto:andrew@andrewfisher.ca">
                                    <i class='bx bxs-envelope text-white hover:text-yellow text-2xl'></i>
                                </a>
                                <a href="https://www.linkedin.com/in/andrewwfisher/" class="pl-4">
                                    <i class='bx bxl-linkedin text-white hover:text-yellow text-2xl'></i>
                                </a>
                                <a href="https://www.facebook.com/awfisher16" class="pl-4">
                                    <i class='bx bxl-facebook-square text-white hover:text-yellow text-2xl'></i>
                                </a>
                                <a href="https://www.instagram.com/awfisher16/" class="pl-4">
                                    <i class='bx bxl-instagram text-white hover:text-yellow text-2xl'></i>
                                </a>
                                <a href="https://twitter.com/awfisher16" class="pl-4">
                                    <i class='bx bxl-twitter text-white hover:text-yellow text-2xl'></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-grey-50" id="about">
            <div class="container py-16 md:py-20 flex flex-col lg:flex-row items-center">

                <div class="w-full sm:w-3/4 lg:w-3/5 text-center lg:text-left">
                    <h2 class="font-header font-semibold text-primary text-4xl sm:text-5xl lg:text-6xl uppercase">Who am I?</h2>
                    <h3 class="font-header font-medium text-black text-xl sm:text-2xl lg:text-3xl pt-6">I'm Andrew Fisher, a Structural Engineer</h3>
                    <p class="font-body text-grey-20 pt-6 leading-relaxed">I thrive on complex problems which require innovative and creative design ideas. I am effective at collaborating with the consultant team, contractor, and client in order to evolve these ideas into practical, cost effective, and desirable solutions.</p>

                    <div class="flex flex-col sm:flex-row justify-center lg:justify-start pt-6">

                        <div class="flex justify-center sm:justify-start items-center">
                            <p class="font-body font-semibold text-grey-20 text-lg uppercase">Connect with me</p>
                            <div class="hidden sm:block">
                                <i class='bx bx-chevron-right text-primary text-2xl'></i>
                            </div>
                        </div>

                        <div class="flex items-center justify-center sm:justify-start pt-5 sm:pt-0 pl-2">
                            <a href="mailto:andrew@andrewfisher.ca">
                                <i class='bx bxs-envelope text-primary hover:text-yellow text-2xl'></i>
                            </a>
                            <a href="https://www.linkedin.com/in/andrewwfisher/" class="pl-4">
                                <i class='bx bxl-linkedin text-primary hover:text-yellow text-2xl'></i>
                            </a>
                            <a href="https://www.facebook.com/awfisher16" class="pl-4">
                                <i class='bx bxl-facebook-square text-primary hover:text-yellow text-2xl'></i>
                            </a>
                            <a href="https://www.instagram.com/awfisher16/" class="pl-4">
                                <i class='bx bxl-instagram text-primary hover:text-yellow text-2xl'></i>
                            </a>
                            <a href="https://twitter.com/awfisher16" class="pl-4">
                                <i class='bx bxl-twitter text-primary hover:text-yellow text-2xl'></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="w-full sm:w-3/4 lg:w-2/5 pl-0 lg:pl-12 pt-10 lg:pt-0">
                    <div>
                        <div class="flex justify-between items-end">
                            <h4 class="font-body font-semibold text-black uppercase">Reinforced Concrete</h4>
                            <h3 class="font-body font-bold text-primary text-3xl">80%</h3>
                        </div>
                        <div class="h-3 w-full rounded-full bg-lila mt-2">
                            <div class="h-3 rounded-full bg-primary" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="flex justify-between items-end">
                            <h4 class="font-body font-semibold text-black uppercase">Structural Steel</h4>
                            <h3 class="font-body font-bold text-primary text-3xl">50%</h3>
                        </div>
                        <div class="h-3 w-full rounded-full bg-lila mt-2">
                            <div class="h-3 rounded-full bg-primary" style="width: 50%;"></div>
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="flex justify-between items-end">
                            <h4 class="font-body font-semibold text-black uppercase">Load Bearing Masonry</h4>
                            <h3 class="font-body font-bold text-primary text-3xl">20%</h3>
                        </div>
                        <div class="h-3 w-full rounded-full bg-lila mt-2">
                            <div class="h-3 rounded-full bg-primary" style="width: 20%;"></div>
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="flex justify-between items-end">
                            <h4 class="font-body font-semibold text-black uppercase">Precast Concrete</h4>
                            <h3 class="font-body font-bold text-primary text-3xl">30%</h3>
                        </div>
                        <div class="h-3 w-full rounded-full bg-lila mt-2">
                            <div class="h-3 rounded-full bg-primary" style="width: 30%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-16 md:py-20" id="projects">
            <h2 class="font-header font-semibold text-primary text-4xl sm:text-5xl lg:text-6xl uppercase text-center">Check out my Portfolio</h2>
            <h3 class="font-header font-medium text-black text-xl sm:text-2xl lg:text-3xl pt-6 text-center">Here's what I have done in the past</h3>

            <div class="w-full sm:w-3/4 lg:w-full mx-auto grid lg:grid-cols-3 gap-8 md:gap-10 pt-12">
                {% for portfolio in site.portfolio %}
                    <a href="{{ portfolio.url | relative_url }}" class="mx-auto md:mx-0 transition-all transform hover:scale-105 {{ portfolio.image-size }}">
                        <img src="{{ portfolio.image }}" class="shadow w-full" alt="portfolio image">
                        <h4 class="font-body font-semibold text-grey-20 text-lg uppercase text-center">{{ portfolio.title }}, {{ portfolio.location }}</h4>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="container py-16 md:py-20" id="experience">
            <h2 class="font-header font-semibold text-primary text-4xl sm:text-5xl lg:text-6xl uppercase text-center">My experience</h2>
            <h3 class="font-header font-medium text-black text-xl sm:text-2xl lg:text-3xl pt-6 text-center">Here's my career journey</h3>

            <div class="w-full lg:w-2/3 mx-auto flex flex-col mt-12 relative">
                <span class="absolute inset-y-0 left-1/5 ml-10 w-0.5 bg-grey-40 hidden md:block"></span>

                <div class="flex flex-col md:flex-row text-center md:text-left mt-8">
                    <div class="md:w-1/5">
                        <div class="flex justify-center">
                            <span class="flex-shrink-0">
                                <a href="https://www.gray-fick.ca/"><img src="/assets/img/logo-g&f.jpeg" class="w-32 h-auto" alt="company logo" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="md:w-4/5">
                        <div class="flex md:pl-18 relative">
                            <span class="border-2 border-grey-40 rounded-full w-4 h-4 absolute left-8 top-1 bg-white hidden md:block"></span>
                            <div class="mt-1 flex grow">
                                <i class='bx bxs-right-arrow text-primary hidden md:block'></i>
                                <div class="md:pl-8 md:-mt-1 grow">
                                    <span class="font-body font-bold text-grey-40 block">Sep 2022 - present</span>
                                    <span class="font-header font-bold text-xl text-primary uppercase block pt-2">Intermediate Structural Engineer</span>
                                    <div class="pt-2">
                                        <span class="font-body text-black block">COMING SOON</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row text-center md:text-left mt-8">
                    <div class="md:w-1/5">
                        <div class="flex justify-center">
                            <span class="flex-shrink-0">
                                <a href="http://www.vbands.com/"><img src="/assets/img/logo-vb&s.jpg" class="w-32 h-auto" alt="company logo" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="md:w-4/5">
                        <div class="flex md:pl-18 relative">
                            <span class="border-2 border-grey-40 rounded-full w-4 h-4 absolute left-8 top-1 bg-white hidden md:block"></span>
                            <div class="mt-1 flex grow">
                                <i class='bx bxs-right-arrow text-primary hidden md:block'></i>
                                <div class="md:pl-8 md:-mt-1 grow">
                                    <span class="font-body font-bold text-grey-40 block">Sep 2020 - Sep 2022</span>
                                    <span class="font-header font-bold text-xl text-primary uppercase block pt-2">Intermediate Structural Engineer</span>
                                    <div class="pt-2">
                                        <span class="font-body text-black block">Project Coordination and Planning&mdash;Hambro, Comslab, & Precast Floor Systems&mdash;Load Bearing Masonry&mdash;REVIT Drafting&mdash;Site Inspections</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row text-center md:text-left mt-8">
                    <div class="md:w-1/5">
                        <div class="flex justify-center">
                            <span class="flex-shrink-0">
                                <a href="https://www.rjc.ca/"><img src="/assets/img/logo-rjc.jpeg" class="w-32 h-auto" alt="company logo" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="md:w-4/5">
                        <div class="flex md:pl-18 relative">
                            <span class="border-2 border-grey-40 rounded-full w-4 h-4 absolute left-8 top-1 bg-white hidden md:block"></span>
                            <div class="mt-1 flex grow">
                                <i class='bx bxs-right-arrow text-primary hidden md:block'></i>
                                <div class="md:pl-8 md:-mt-1 grow">
                                    <span class="font-body font-bold text-grey-40 block">Jun 2016 - Sep 2020</span>
                                    <span class="font-header font-bold text-xl text-primary uppercase block pt-2">Structural Design Engineer</span>
                                    <div class="pt-2">
                                        <span class="font-body text-black block">Tall & Complex Structures&mdash;ETABS Modelling & Analysis&mdash;Construction Sequencing&mdash;Tuned Sloshing & Mass Dampers&mdash;Reinforced Concrete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row text-center md:text-left mt-8">
                    <div class="md:w-1/5">
                        <div class="flex justify-center">
                            <span class="flex-shrink-0">
                                <a href="https://civmin.utoronto.ca/"><img src="/assets/img/logo-uoft.jpeg" class="w-32 h-auto" alt="company logo" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="md:w-4/5">
                        <div class="flex md:pl-18 relative">
                            <span class="border-2 border-grey-40 rounded-full w-4 h-4 absolute left-8 top-1 bg-white hidden md:block"></span>
                            <div class="mt-1 flex grow">
                                <i class='bx bxs-right-arrow text-primary hidden md:block'></i>
                                <div class="md:pl-8 md:-mt-1 grow">
                                    <span class="font-body font-bold text-grey-40 block">Sep 2013 - Dec 2015</span>
                                    <span class="font-header font-bold text-xl text-primary uppercase block pt-2">Undergraduate Teaching Assistant</span>
                                    <div class="pt-2">
                                        <span class="font-body text-black block">CIV102: Structures & Materials&mdash;First-Year Students&mdash;Laboratory Testing&mdash;Teaching&mdash;Mentorship</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row text-center md:text-left mt-8">
                    <div class="md:w-1/5">
                        <div class="flex justify-center">
                            <span class="flex-shrink-0">
                                <a href="https://rwdi.com/en_ca/"><img src="/assets/img/logo-rwdi.jpeg" class="w-32 h-auto" alt="company logo" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="md:w-4/5">
                        <div class="flex md:pl-18 relative">
                            <span class="border-2 border-grey-40 rounded-full w-4 h-4 absolute left-8 top-1 bg-white hidden md:block"></span>
                            <div class="mt-1 flex grow">
                                <i class="bx bxs-right-arrow text-primary hidden md:block"></i>
                                <div class="md:pl-8 md:-mt-1 grow">
                                    <span class="font-body font-bold text-grey-40 block">May 2013 - Aug 2013</span>
                                    <span class="font-header font-bold text-xl text-primary uppercase block pt-2">Technical Project Coordinator</span>
                                    <div class="pt-2">
                                        <span class="font-body text-black block">Wind Engineering&mdash;Wind Tunnel Testing&mdash;Wind Effects on Facade & Structural Systems&mdash;High-Rise Buildings&mdash;Technical Reports</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-top bg-cover bg-no-repeat pb-16 md:py-16 lg:py-24"
            style="background-image:url(/assets/img/experience-figure.png)" id="statistics">
            <div class="container">
                <div class="bg-white w-5/6 md:w-11/12 2xl:w-full mx-auto py-16 lg:py-20 xl:py-24 shadow">
                    <div class="grid grid-cols-2 xl:grid-cols-4 gap-5 md:gap-8 xl:gap-5">
                        <div class="flex md:flex-row flex-col justify-center items-center text-center md:text-left">
                            <div>
                                <img src="/assets/img/icon-project.svg" class="mx-auto h-12 md:h-20 w-auto"
                                    alt="icon project">
                            </div>
                            <div class="md:pl-5 md:pt-0 pt-5">
                                <h1 class="font-body font-bold md:text-4xl text-2xl text-primary">10+</h1>
                                <h4 class="font-header font-medium md:text-xl text-base text-grey-dark leading-loose">Projects</h4>
                            </div>
                        </div>

                        <div class="flex md:flex-row flex-col justify-center items-center text-center md:text-left">
                            <div>
                                <img src="/assets/img/icon-award.svg" class="mx-auto h-12 md:h-20 w-auto"
                                    alt="icon award">
                            </div>
                            <div class="md:pl-5 md:pt-0 pt-5">
                                <h1 class="font-body font-bold md:text-4xl text-2xl text-primary">7+</h1>
                                <h4 class="font-header font-medium md:text-xl text-base text-grey-dark leading-loose">Years Experience</h4>
                            </div>
                        </div>

                        <div
                            class="flex md:flex-row flex-col justify-center items-center text-center md:text-left lg:mt-0 md:mt-10 mt-6">
                            <div>
                                <img src="/assets/img/icon-happy.svg" class="mx-auto h-12 md:h-20 w-auto"
                                    alt="icon happy clients">
                            </div>
                            <div class="md:pl-5 md:pt-0 pt-5">
                                <h1 class="font-body font-bold md:text-4xl text-2xl text-primary">8</h1>
                                <h4 class="font-header font-medium md:text-xl text-base text-grey-dark leading-loose">Happy Clients</h4>
                            </div>
                        </div>

                        <div
                            class="flex md:flex-row flex-col justify-center items-center text-center md:text-left lg:mt-0 md:mt-10 mt-6">
                            <div>
                                <img src="/assets/img/icon-puzzle.svg" class="mx-auto h-12 md:h-20 w-auto"
                                    alt="icon puzzle">
                            </div>
                            <div class="md:pl-5 md:pt-0 pt-5">
                                <h1 class="font-body font-bold md:text-4xl text-2xl text-primary">261</h1>
                                <h4 class="font-header font-medium md:text-xl text-base text-grey-dark leading-loose">Metres Tall</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>